<p id="notice"><%= notice %></p>

<h2> <%= @wine.name %> </h2>


<p>
  <strong>Vintage:</strong>
  <%= @wine.vintage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wine.description %>
</p>

<p>
  <strong>Winery:</strong>
  <a href="/wineries/<%= @wine.winery.id %>">
    <%= @wine.winery.name %>
  </a>
</p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
